* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  flex-direction: column;
  background-color: rgb(247, 245, 165);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px;
}
#score {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 400;
}
main {
  background-color: white;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}
.quiz-container {
  padding: 32px;
}
#question {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}
ul {
  list-style: none;
  line-height: 48px;
  margin-bottom: 32px;
}
ul li {
  font-size: 20px;
  font-weight: 400;
}
input {
  cursor: pointer;
}
#submit-btn {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: orange;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}
#submit-btn:hover {
  background-color: rgba(228, 33, 108, 0.966);
}
@media (max-width: 500px) {
  .quiz-container {
    padding: 16px;
  }
  #question {
    font-size: 16px;
  }
  ul {
    margin-bottom: 10px;
    line-height: 32px;
  }
  ul li {
    font-size: 16px;
  }
  #submit-btn {
    font-size: 14px;
  }
}
